@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body{
    background: linear-gradient(138.45deg, #000000 0%, #0B003E 100%) !important;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
img{
    position: absolute;
    width: 25rem; 
    height: 8.375rem;
    left: 5.063rem;
    top: 4.188rem;
}
.row{
    height: 100vh;
}
 h1{
    font-family: 'Inter', sans-serif;
    position: absolute;
    width:20.75rem;
    height: 3.625rem;
    left: 4.5rem;
    top: 14.5rem;
    
   
    font-weight: 600;
    font-size: 3rem;
    line-height: 3.625rem;
    
    
    
    color: #61B6E0;
}
ul{
    font-family: 'Inter', sans-serif;
    position: absolute;
width: 19.438rem;
height: 10rem;
left: 4.5rem;
top: 23.7rem;
padding-bottom: 0.1rem;
padding-top: 0.1rem;
font-weight: 600;
font-size: 1.4rem;
line-height: 2.5rem;
color: white;

}
.insta{
    font-family: 'Inter', sans-serif;
}

li {
    list-style-type: none;
    position: relative;
    padding-left: 0.938rem;
  }


 i{
     font-size: 1rem;
     margin-left: auto;
 }
 .loginBtn{
background-color:#D33534;
padding:0.8rem;
font-size: 1.3rem;
color:white;
width: 20rem;
border-color: #000000;

 }
  .loginBtn--facebook{
     background-color: #4C4B99;

 } 
 .loginBtn--github{
     background-color: black;
 }
 .loginBtn i{
     font-size: 1.3rem;
     color:white;
     padding-left: 0.5rem;

 }
 .loginBtn p{
    position: absolute;
    width: 234px;
    height: 35px;
    left: 1000px;
    top: 449px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 400px;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    
 }
 .col-md-7{
    background: linear-gradient(138.45deg, #000000 0%, #0B003E 100%);
 }
 .col-md-5{
    background: linear-gradient(180deg, #00032D 0%, #000000 53.36%, #00032D 100%); padding-left:10rem;
 }
 h3{
    padding-top:5rem;color: white;
   
 }
 h2{
    padding-top:0.1rem;color: white;
   
 }
 .login{
     padding-left:7rem;
     padding-bottom:2rem;
     font-family: 'Roboto', sans-serif;
 }
 p.insta{
    padding-top:34rem;padding-left:7rem;color:white;font-size: 1rem;
    line-height: 1.5rem;
    
 }
 @media (max-width: 998px)
 {
     html{
         font-size: 75%;
     }
     
 }
 @media (max-width: 767px)
 {
     html{
         font-size: 55%;
     }
     
 }
 @media (max-width: 1089px)
 {
     html{
         font-size: 80%;
     }
     
 }
 @media (max-width: 1142px)
 {
     html{
         font-size: 82%;
     }
     
 }